<!DOCTYPE html>
<html>
<head>
  <meta charset = "utf-8" />
  <meta http-equiv = "X-UA-Compatible" content="IE=edge, chrome=1">
  <meta id = "viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta name = "apple-mobile-web-app-capable" content="yes">
  <title><%= htmlWebpackPlugin.options.title %></title>
    <% for (item of htmlWebpackPlugin.options.externals) { %><% if (typeof item === "string" || item instanceof String) { item = { src: item, type: "text/javascript" } } %>
      <script<% for (key in item) { %> <%= key %>= "<%= item[key] %> "<% } %>></script><% } %>
  <!-- <script src="http://markknol.github.io/console-log-viewer/console-log-viewer.js?closed=false"></script> -->

  <style>
    @font-face
    {
      font-family: 'Monofur';
      src: url('assets/fonts/Monofur.eot? #iefix') format('embedded-opentype'),
           url('assets/fonts/Monofur.woff2') format('woff2'),
           url('assets/fonts/Monofur.woff') format('woff'),
           url('assets/fonts/Monofur.ttf') format('truetype')
           url('assets/fonts/Monofur.svg#Monofur') format('svg')
    }
  
  </style>

</head>
<body>
  <div><canvas id='game-canvas'></canvas></div>
</body>
</html>